body{
	margin-top: 100px;
}

.home-img{

	width: 150px;
}
.slide-img{
	width: 600px; 
}
.carousel-inner {
	 text-align: center; 
}
.carousel .item > img { 
	display: inline-block; 
}

.carousel-indicators li {
  background-color: grey;
}
.carousel-indicators .active {
  background-color: black;
}

p{
	color:black;
}

.navbar-brand {
    max-width: 50%;
}



