@{
    ViewBag.Title = "ADS | SAE Aspel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Aspel-SAE &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/sae-aspel.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>Controla el ciclo de todas las operaciones de compra-venta de la empresa como: inventarios, clientes, facturación, cuentas por cobrar, vendedores, compras, proveedores y cuentas por pagar; automatizando eficientemente los procesos administrativos y asegurando el cumplimiento de las disposiciones fiscales. Permite conectar de manera remota las sucursales de la empresa. Ofrece reportes, estadísticas, gráficas y consultas de alto nivel que colaboran en la oportuna toma de decisiones y desarrollo de estrategias comerciales.</p>
        <p>
            Beneficios<br />
            Al integrar Aspel-SAE en tu administración obtienes inmediatamente un mejor control sobre tu negocio y una significativa reducción en el tiempo invertido, pues la automatización de tus procesos optimizan la aplicación de los recursos humanos y tecnológicos, facilitándote la supervisión del estado real de la empresa en cualquier momento.
        </p>
        <p>Con Aspel-SAE:</p>
        <p>
            El ciclo de compra-venta está cubierto totalmente, desde la foto del producto para identificarlo hasta la factura electrónica con todos los requisitos fiscales establecidos, lista para ser entregada al cliente.<br />
            Conoces mejor a tu cliente, en una sola sección tendrás los saldos, pedidos pendientes, productos apartados, estados de cuenta, antigüedad de saldos, productos más vendidos, ventas mensuales, citas programadas, para un seguimiento sencillo.<br />
            Aspel-SAE te permite tratar mejor a tu cliente, maneja listas de precios por cliente y funciones CRM (Customer Relationship Management) para conocer sus hábitos de compra y mantenerlo informado fácil y rápidamente.<br />
            Tendrás un control total de los inventarios, desde las existencias y costos hasta el manejo de productos sustitutos para favorecer una mejor comercialización, incluyendo el manejo de lotes, pedimentos y números de serie de los productos, así como las tallas y colores.<br />
            Todas tus necesidades de facturación estarán cubiertas, ya sea que tengas que facturar electrónicamente o de manera impresa, el sistema lo realiza sin necesidad de aplicaciones adicionales y de acuerdo a las disposiciones fiscales vigentes.<br />
            Tendrás seguridad y agilidad en el punto de venta con funciones como: cambio de precios, autorización de crédito en facturas, para una eficaz administración.<br />
            El sistema te ofrece una cantidad ilimitada de folios de documentos y manejo del certificado de sello digital por serie o por sucursal.<br />
            Tendrás una integración fácil y eficiente con el registro contable con Aspel-SAE 5.0, pues la interfaz con Aspel-COI es en línea y al nivel deseado por cliente o proveedor con un sólo clic.<br />
            Aspel-SAE 5.0 está dotado de múltiples herramientas para facilitarte la captura de información e importación de los catálogos desde hojas de cálculo de Microsoft Excel® para una ágil puesta en marcha.
        </p>
        <p>Más funciones de Aspel-SAE 5.0</p>
        <p>Con Aspel-SAE 5.0 no necesitas nada más, pues el sistema te ofrece toda la funcionalidad y facilidad de integración que tu empresa requiere, no sólo para operar debidamente sino para cumplir con tus obligaciones contables y fiscales, además de permitirte hacer un mejor negocio.</p>
    </div>
</div>
