@{
    ViewBag.Title = "ADS | Contpaq i";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Contpaq i - Contabilidad &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/contabilidad-contpaq.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>CONTPAQ i® CONTABILIDAD ES EL SISTEMA CONTABLE INTEGRADOR FAVORITO DE LOS CONTADORES QUE FACILITA Y AUTOMATIZA EL PROCESO DE LA INFORMACIÓN CONTABLE, FINANCIERA Y FISCAL DE TU EMPRESA, ASÍ COMO LA RECEPCIÓN DE TUS COMPROBANTES FISCALES DIGITALES, BRINDÁNDOTE UNA VISIÓN GLOBAL DEL ESTADO DE TU NEGOCIO.</p>
        <p>Diseñado para contadores, fiscalistas, auditores, administradores y directores de todo perfil de empresas.</p>
    </div>
</div>