@{
    ViewBag.Title = "ADS | PROD Aspel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Aspel-PROD &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/prod-aspel.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>Aspel-PROD 3.0 permite la planeación y control de los procesos de fabricación de la empresa, asegurando una óptima administración de inventarios y costos, proporciona además, un eficiente seguimiento a las órdenes de producción mejorando los tiempos de entrega. Interactúa con Aspel-SAE 5.x del que obtiene información de materia prima y sub-ensambles, para realizar los procesos de producción y posteriormente actualizar el inventario con los productos terminados.</p>
        <p> Descarga la presentación ejecutiva</p>
        <p>Beneficios</p>
        <p>
            Al instalar Aspel-PROD en tu empresa podrás:<br />
            Planear y controlar los procesos de fabricación de tus productos terminados.<br />
            Calcular de manera eficiente, real y óptima el costo de los productos terminados y sub-ensambles, considerando materia prima, sub-ensambles, insumos directos e indirectos como la mano de obra.<br />
            Organizar y conocer en todo momento el estado de las órdenes de producción, con ello podrás optimizar los tiempos de entrega, así como obtener la información necesaria para una correcta negociación comercial.
        </p>
    </div>
</div>
