@{
    ViewBag.Title = "ADS | CF-53 Panasonic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Panasonic Toughbook CF-53 &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/cf53-panasonic.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>
            Toughbook 53<br />
            Pantalla touchpad de 14" HD LED y pantalla táctil opcional visible bajo la luz solar con la opción para usar banda ancha móvil Ericsson F5521gw WWAN.
        </p>
        <p>
            Desempeño y versatilidad mejoradas del fabricante original de laptops semi resistentes.<br />
            En 1998, Panasonic creó la primera laptop semiresistente. Ahora Panasonic presenta la última generación, la Toughbook® 53 de Panasonic. Con una pantalla LED de alta definición de 14 pulgadas, los últimos procesadores Core™ vPro™ de Intel®* y un teclado táctil múltiple de tamaño aumentado, su desempeño es como el de un laptop de escritorio. Opciones de una pantalla táctil Panasonic CircuLumin™ visible a la luz solar, teclado con iluminación posterior, banda ancha móvil LTE de 4G, cámara web integrada y conectividad mejorada, hacen que esta sea la laptop personal semiresistente más versátil que se haya fabricado jamás.<br />
            * Modelo CF-53A<br />
            Segunda generación de procesadores Intel® Core™ i5 vPro™.<br />
            Intel, el logotipo de Intel, Intel Core, Intel vPro, Core Inside y vPro Inside son marcas comerciales de Intel Corporation en los EE.UU. y / u otros países.
        </p>
        <p>Detalles</p>
        <p>Durabilidad</p>
        <p>
            Certificación MIL-STD-810G (resistente a una caída de 0.9 m, impactos, vibraciones, polvo, alturas, temperaturas altas y bajas, impactos de temperatura, humedad)<br />
            Teclado resistente a derrames<br />
            Opción de calentador de unidad de disco duro<br />
            Carcasa de aleación de magnesio con manija<br />
            Unidad de disco duro con conexión flexible, protección contra impactos y liberación rápida<br />
            Película de pantalla reemplazable preinstalada1
        </p>
        <p>Software</p>
        <p>
            Windows® 7 Professional Original de 32 bit2 o Windowss® 7 Professional Original de 64 bit2<br />
            Programas Utilitarios de Panasonic, Partición de Recuperación
        </p>
        <p>Unidad Central de Proceso (CPU)</p>
        <p>
            Procesador Intel® Core™ i5-2520M vPro™<br />
            - 2.5GHz con Turbo Boost hasta 3.2GHz<br />
            - Memoria Cache Intel Smart de 3MB<br />
            Procesador Intel® Core™ i3-2310M<br />
            - 2.1GHz<br />
            - Memoria Cache Intel Smart de 3MB
        </p>
        <p>Almacenamiento y Memoria</p>
        <p>
            Modelos i5: 4GB SDRAM (DDR3-1.333MHz), expandible hasta 8GB3,4<br />
            Modelo i3: 2GB SDRAM (DDR3-1.333MHz), expandible hasta 8GB3,4<br />
            Unidad de disco duro con conexión flexible, protección contra impactos y liberación rápida<br />
            - 320GB 7200 rpm (modelos i5), 320GB 5400 rpm (modelo i3)4<br />
            - Opción de conexión flexible, reforzada de 128GB y 256GB SSD4
        </p>
        <p>Pantalla</p>
        <p>
            Pantalla LED de alta definición (720p) de 14 pulgadas 1366 x 768<br />
            Opción de pantalla táctil (sólo en el modelo i5)<br />
            - Tecnología CircuLumin™ de Panasonic (2-800 nits, tratamientos antirreflejante y antideslumbrante, polarizador circular)<br />
            Tratamientos antirreflejante y antideslumbrante (antideslumbrante sólo en el modelo i3)<br />
            Controlador de video: Intel® QM67 (modelos i5), Intel® HM65 (modelo i3)<br />
            - VRAM máx. 1428MB compartidos con 32 bits5<br />
            Soporte para video externo con una resolución de hasta de 1920 x 1200 a 16.7 millones de colores<br />
            Modo oculto
        </p>
        <p>Audio</p>
        <p>
            Compatible con el audio de alta definición de Intel®<br />
            Bocinas estereofónicas integradas<br />
            Controles de volumen y silenciador en el teclado
        </p>
        <p>Teclado y Entrada de Datos</p>
        <p>
            Pantalla táctil con portaestilete integrado1<br />
            87 teclas con tecla dedicada Windows®<br />
            Almohadilla táctil electrostática de gran tamaño con respaldo multi touch
        </p>
        <p>Compartimientos para Multimedios</p>
        <p>    Unidad de DVD Super MULTI</p>
        <p>Ranuras de Expansión</p>
        <p>
            Tarjeta de laptop tipo II x 1<br />
            Tarjeta SD (SDXC)<br />
            Tarjeta ExpressCard/54 x 1
        </p>
        <p>Interfaces</p>
        <p>
            Conector de acoplamiento (Dedicado de 100 clavijas)<br />
            HDMI (Tipo A)<br />
            VGA (D-sub 15 clavijas)<br />
            Audífonos/bocina (Miniclavija estereofónica)<br />
            Micrófono/entrada de línea (Miniclavija estereofónica)<br />
            Serial (D-sub 9 clavijas)<br />
            USB 3.0 (x1), USB 2.0 (x3) (4 clavijas)<br />
            Conexión opcional IEEE 1394a (FireWire) (4 clavijas)<br />
            Ethernet 10/100/1000 (RJ-45)<br />
            Conexión opcional 10/100<br />
            Segundo LAN (Ethernet) (RJ-45)<br />
            Módem 56K opcional (RJ-11)
        </p>
        <p>Sistema Inalámbrico</p>
        <p>
            Opción de banda ancha móvil Ericsson F5521gw WWAN (póngase en contacto con Panasonic para los países aprobados/compañías) integrada<br />
            Intel® Centrino® Advanced-N 6205 802.11a/b/g/n (modelos i5)<br />
            Atheros AR9285 802.11b/g/n (modelo i3)<br />
            Opción de Bluetooth® v2.1 + EDR (Clase 1)<br />
            Seguridad<br />
            - Autentificación: LEAP, WPA, 802.1x, EAP-TLS, EAP-FAST, PEAP<br />
            - Codificación: CKIP, TKIP, WEP de 128 bits y 64 bits, AES por Hardware<br />
            Opción de doble paso de antena de alta ganancia<br />
            Interruptor deslizable de encendido/apagado
        </p>
        <p>Suministro de Energía</p>
        <p>
            Funcionamiento de batería6<br />
            - Modelos i5: 10 horas (batería de larga duración)6<br />
            - Modelo i3: 7 horas (batería liviana)<br />
            Paquete de baterías de litio-ion de larga duración (10.8V, típico 6750 mAh, mínimo 6300 mAh)<br />
            Paquete liviano de baterías de litio-ion (10.8V, típico 4500 mAh, mínimo 4200 mAh)<br />
            Tiempo de carga de la batería: 2 horas6<br />
            Adaptador de CA: CA 100 V-240 V 50/60 Hz, autodetección y cambio automático del suministro de energía según región
        </p>
        <p>Conservación de la EnergÍa</p>
        <p>    Función Suspender/Reanudar, Hibernación, En espera, ACPI BIOS</p>
        <p>Características de Seguridad</p>
        <p>
            Seguridad protegida por contraseñas: Supervisor, Usuario, Bloqueo del Disco Duro<br />
            Ranura de bloqueo para cable de seguridad Kensington<br />
            Chip de seguridad de módulo de plataforma confiable (TPM) versión 1.2 (modelos i5)<br />
            Agente de protección contra robo Computrace® en el BIOS7<br />
            Tecnología Intel® antirrobo (modelos i5)<br />
            Lector de huellas digitales opcional<br />
            Lector de tarjetas SmartCard opcional
        </p>
        <p>Garantía</p>
        <p>    Garantía limitada de 3 años para partes y mano de obra</p>
        <p>Dimensiones y Peso</p>
        <p>
            28.0 cm (L) x 34.0 cm (A) x 2.5-5.6 cm (Al)<br />
            2.5 kg (modelo i3), 2.6 kg (modelo i5), 2.9 kg (modelo táctil)
        </p>
        <p>Opciones Integradas8</p>
        <p>
            Banda ancha móvil Ericsson F5521gw WWAN (póngase en contacto con Panasonic para los países aprobados/compañías) (EV-DO Rev. A, HSPA)<br />
            Cámara web 1.3MP y micrófono digital<br />
            Teclado emisivo retroiluminado<br />
            Segundo conexión LAN (10/100) o FireWire o Módem o doble paso de antena<br />
            Lector de tarjetas SmartCard<br />
            Lector de huellas digitales<br />
            Calentador de unidad de disco duro<br />
            Unidades de disco de estado sólido (SSD) de 128GB y 256GB
        </p>
        <p>Para saber cuál modelo Toughbook le conviene más mire el cuadro comparativo de productos</p>
        <p>
            Consulte con su distribuidor o representante de Panasonic antes de hacer una compra.<br />
            1 Sólo en el modelo de pantalla táctil.<br />
            2 Un conjunto completo de controladores Windows XP se encuentra disponible a través de panasonic.com/toughbook/support.<br />
            3 La memoria útil total será menor dependiendo de la configuración actual del sistema. 41GB = 1,000,000,000 bytes.<br />
            5 El tamaño de VRAM no puede ser establecido por el usuario y varía de acuerdo con el sistema operativo y el tamaño de RAM. El VRAM máx. para Windows 7 de 64 bits VRAM es de 1696MB con 4GB de memoria.<br />
            6 Las características de rendimiento de la batería, tales como el tiempo de carga y el tiempo de vida útil de la batería pueden variar de acuerdo con las condiciones de uso de la laptop y la batería. Los tiempos de funcionamiento y carga variarán en base a muchos factores, incluyendo el brillo de la pantalla, las aplicaciones, funciones o características, la conservación de la energía, el acondicionamiento de la batería y otras preferencias del cliente. MobileMark 2007 proporciona los resultados de prueba de la batería.<br />
            7 Requiere software y activación para habilitar la protección contra robo.
        </p>
    </div>
</div>
