@{
    ViewBag.Title = "ADS | NOI Aspel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Aspel-NOI &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/noi-aspel.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>Aspel-NOI 6.0 automatiza el control de los aspectos más importantes de la nómina, su fácil manejo y versatilidad ofrecen un cálculo exacto de las percepciones y deducciones de los trabajadores atendiendo los requerimientos específicos de la empresa. Calcula la retención de ISR, cuotas obrero-patronales IMSS e INFONAVIT, subsidio para el empleo y previsión social, entre otros, de acuerdo a las disposiciones fiscales y laborales vigentes.</p>
        <p>Incluye cambios relacionados con la Reforma Laboral 2012. </p>
        <p>Beneficios</p>
        <p>Aspel-NOI 6.0 te permite:</p>
        <p>
            Reducir el tiempo invertido en el proceso del cálculo de la nómina.<br />
            Contar con un robusto expediente del trabajador para una eficiente administración del capital humano.<br />
            Realizar un fácil, correcto y automatizado cálculo de los impuestos y aportaciones de seguridad social, tanto de los trabajadores, como de la empresa.<br />
            Controlar y administrar el pago por hora a los trabajadores, calculando debidamente faltas, vacaciones, horas extras y aportaciones de seguridad social.<br />
            Tener comunicación directa con el IMSS para el envío de movimientos afiliatorios en línea.<br />
            Realizar la dispersión de la nómina con pagos oportunos y exactos a través de las principales instituciones bancarias.<br />
            Una rápida puesta en marcha del sistema, así como una eficiente alimentación de los catálogos, gracias a las diversas herramientas de captura, como la interfaz con relojes checadores, la captura de movimientos a la nómina desde hojas de cálculo de Microsoft Excel®, entre otras.
        </p>
    </div>
</div>
