@{
    ViewBag.Title = "ADS | Adminpaq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Contpaq i - Adminpaq &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/adminpaq-contpaq.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>ADMINPAQ ® ES EL SISTEMA QUE SE ADAPTA A TU ADMINISTRACIÓN COMERCIAL FACILITANDO LA INTEGRACIÓN DE TUS PROCESOS DE VENTAS, COMPRAS, INVENTARIOS, CUENTAS POR COBRAR, CUENTAS POR PAGAR Y FACTURACIÓN ELECTRÓNICA, PARA QUE PUEDAS SER MÁS PRODUCTIVO Y TOMAR DECISIONES OPORTUNAS.</p>
        <p>Diseñado para empresas comerciales e industriales que requieren control de clientes, inventarios, costos y proveedores</p>
    </div>
</div>
