@{
    ViewBag.Title = "ADS | Factura Aspel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Aspel-Factura &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/factura-aspel.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>Hoy mismo empieza a facturar de forma segura</p>
        <p>Cualquiera que sea tu profesión, giro comercial, si eres persona física o moral y requieres facturar, Aspel-FACTURⓔ es tu mejor solución. Es un práctico sistema que genera Comprobantes Fiscales Digitales por Internet (CFDI) y Comprobantes Fiscales con Código de Barras Bidimensional (CBB) de acuerdo a las disposiciones fiscales vigentes. Su fácil captura permite a las micro, pequeñas y medianas empresas, así como a las personas físicas, obtener en segundos los comprobantes listos para ser entregados a tus clientes.</p>
        <p>Aspel-FACTURⓔ es una solución que resuelve todas tus necesidades de facturación.</p>
        <p>Dentro de sus múltiples beneficios te ofrece:</p>
        <p>
            Generación de comprobantes impresos y digitales como: Comprobantes Fiscales Digitales por Internet (CFDI) y Comprobantes Fiscales con Código de Barras Bidimensional (CBB).<br />
            Puedes registrar hasta 99 RFC´s (Registro Federal de Contribuyentes) para generar comprobantes fiscales.<br />
            Podrás emitir facturas, recibos de honorarios, recibos de arrendamiento y notas de crédito cumpliendo con todas las disposiciones fiscales vigentes.<br />
            La aplicación y los comprobantes son almacenados en tu equipo para una ágil captura, así como para una mayor seguridad en la información.<br />
            Gracias al servicio Aspel Sellado CFDI podrás generar tus CFDI’s con la aplicación más segura del mercado, porque la llave privada y contraseña del CSD (Certificado de Sello Digital) del contribuyente nunca es conocida por el PAC (Proveedor Autorizado de Certificación) esto es TRANQUILIDAD y SEGURIDAD para tu empresa. ¡Nadie puede generar facturas a tu nombre!<br />
            Fácil instalación del sistema para que en cuestión de minutos comiences a facturar.<br />
            Además, podrás enviar por correo electrónico los comprobantes a tus clientes.
        </p>
    </div>
</div>