@{
    ViewBag.Title = "ADS | U1 Panasonic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Panasonic Toughbook CF-U1 &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/u1-panasonic.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>
            Toughbook U1<br />
            Certificación MIL-STD-810G e IP65. Pantalla táctil de 5,6" visible bajo la luz solar. 380 nit (hasta 6,000 nit bajo la luz solar directa). SSD de 64GB. Ericsson F5521gw WWAN opcional.
        </p>
        <p>
            La próxima generación en laptops de mano con Windows® 7<br />
            La Toughbook U1 Ultra es el miembro más reciente de la familia Toughbook U1 y es la clara alternativa para las soluciones tradicionales de Windows Mobile cuando usted requiere que sus trabajadores móviles rindan más en terreno y necesiten una solución portátil avanzada que pueda funcionar en cualquier lugar. La U1 Ultra cuenta con una brillante pantalla LED con capacidad de hasta 6000 nits a la luz solar directa y puede ajustar automáticamente el brillo de su pantalla para adaptarse al ambiente en que se encuentra. La compatibilidad con Windows® 7 genuino significa una interfaz más fácil de usar y más aplicaciones comerciales listas para usar que cualquier otro sistema operativo del planeta. Además, la U1 Ultra tiene un diseño modular resistente y una serie de opciones integradas como GPS, banda ancha móvil Gobi™2000, cámara de 2MP y lectores de códigos de barras para que su productividad no tenga límites. La U1 Ultra es ideal para aplicaciones de tareas múltiples como SAP, CRM, instrucciones paso por paso, dibujos, esquemas, etiquetado de GEO y formularios electrónicos, para nombrar sólo algunas. Y para aplicaciones y ambientes de uso más básicos, la Toughbook U1 Essential es la compañía perfecta con una combinación de valor y versatilidad.
        </p>
        <p>
            Segunda generación de procesadores Intel® Core™ i5 vPro™.<br />
            Intel, el logotipo de Intel, Intel Core, Intel vPro, Core Inside y vPro Inside son marcas comerciales de Intel Corporation en los EE.UU. y / u otros países.
        </p>
        <p>Detalles</p>
        <p>Características de Durabilidad</p>
        <p>
            Certificación MIL-STD-810G (resiste caídas de hasta 1.83 m, impactos, vibraciones, lluvia, polvo, arena, alturas, ciclos de congelamiento y descongelamiento, temperaturas altas y bajas, impactos de temperatura, humedad, niebla salina)1<br />
            Certificación MIL-STD-461F (requiere un modelo especial)1<br />
            Certificación IP65, diseño sellado para protección contra todas las condiciones metereológicas1<br />
            Modelo con certificación UL1604 clase I, división 2, grupos ABCD<br />
            Certificación CCX v4<br />
            Bastidor de aleación de magnesio recubierto con ABS y elastómero<br />
            Conexión flexible, reforzada y desmontable SSD2<br />
            Correa de mano articulada
        </p>
        <p>Software</p>
        <p>
            Windows® 7 Professional Original (compatible con controladores de XP)<br />
            Programas utilitarios de Panasonic, DVD de recuperación
        </p>
        <p>Unidad Central de Proceso (CPU)</p>
        <p>
            Procesador Intel® Atom™ Z530 Proceso (CPU)<br />
            Velocidad del procesador: 1.60GHz<br />
            512KB de caché L2<br />
            Bus de lado frontal (FSB) de 533MHz
        </p>
        <p>Almacenamiento y Memoria</p>
        <p>
            2GB SDRAM (DDR2)3<br />
            Conexión flexible, reforzada y desmontable de 64GB SSD2
        </p>
        <p>Pantalla</p>
        <p>
            Pantalla táctil ancha de 5.6 pulgadas, WSVGA 1024 x 600<br />
            Pantalla visible a la luz del sol con TransflectivePlus<br />
            - 2 a 6000 nits (dependiendo de las condiciones de iluminación y los ajustes)4<br />
            - Polarizador circular y retroiluminación LED<br />
            - Tratamientos antirreflejante y antideslumbrante para la pantalla<br />
            - Sensor de luz ambiente<br />
            Soporte para video externo con una resolución de hasta 1280 x 768 a 16 millones de colores<br />
            Intel® SCH (controlador de video GMA 500) máx. 256MB UMA VRAM5
        </p>
        <p>Audio</p>
        <p>
            Compatible con el audio de alta definición de Intel®<br />
            Bocina integrada<br />
            Convenientes controles de volumen y silenciador en el teclado
        </p>
        <p>Teclado y Entrada de Datos</p>
        <p>
            Pantalla LCD táctil<br />
            Portaestilete integrado (x 2)<br />
            61 teclas con retroiluminación con tecla Windows® y bloqueo de teclado<br />
            Teclado numérico opcional de 29 teclas con retroiluminación y botones grandes para navegación, de Windows® y de bloqueo del teclado<br />
            Botones de ampliación (acercar/alejar) y desplazamiento (hacia arriba/hacia abajo)<br />
            4 botones programables definidos por el usuario
        </p>
        <p>Ranura de Expansión</p>
        <p>
            Tarjeta SD (SDHC)<br />
            Lector de banda magnética opcional (con minidock))<br />
            Lector de SmartCard opcional (con minidock))
        </p>
        <p>Interface</p>
        <p>
            Minidock de acoplamiento (Dedicado de 19 clavijas)<br />
            Audífonos/bocina (Miniclavija estereofónica)<br />
            Micrófono/entrada de línea (Miniclavija estereofónica)<br />
            USB 2.0 (x 1) (4 clavijas)<br />
            Ethernet opcional (RJ-45) (Con miniconector)<br />
            Puerto en serie opcional (Con miniconector)
        </p>
        <p>Sistema Inalámbrico</p>
        <p>
            Opción de banda ancha móvil Ericsson F5521gw WWAN opcional (póngase en contacto con Panasonic para los países aprobados/compañías)<br />
            Atheros AW-NE772 (IEEE802.11a/b/g/n)<br />
            Bluetooth® v2.1 + EDR (Clase 1)<br />
            Seguridad<br />
            - Autentificación: LEAP, WPA, 802.1x, EAP-TLS, EAP-FAST, PEAP<br />
            - Codificación: CKIP, TKIP, WEP de 128 bits y 64 bits, AES por Hardware<br />
            Interruptor deslizable de encendido/apagado
        </p>
        <p>Suministro de Energía</p>
        <p>
            Doble paquete de baterías de litio-ion intercambiables en caliente (7.2V, 2900mAh cada uno)<br />
            Duración de la batería: 9 horas6<br />
            Tiempo de carga de la batería: 5.5 horas apagada, 5.5 horas encendida6<br />
            Adaptador de CA: CA 100V-240V 50/60Hz
        </p>
        <p>Conservación de la Energía</p>
        <p>    Función Suspender/Reanudar, Hibernación, En espera, ACPI BIOS</p>
        <p>Características de Seguridad</p>
        <p>
            Seguridad protegida por contraseñas: Supervisor, Usuario, Bloqueo del Disco Duro<br />
            Ranuras de bloqueo para cable de seguridad Kensington (x 2)<br />
            Chip de seguridad de módulo de plataforma confiable (TPM) versión 1.2<br />
            Agente de protección contra robo Computrace® en el BIOS7<br />
            Lector de huellas digitales opcional<br />
            Lector de tarjetas SmartCard opcional (con minidock)
        </p>
        <p>Características Integradas</p>
        <p>
            Paquete 1: Modelo básico<br />
            Paquete 2: Cámara<br />
            Paquete 3: Ericsson F5521gw WWAN opcional (póngase en contacto con Panasonic para los países aprobados/compañías), lector de código de barras<br />
            Paquete 4: Ericsson F5521gw WWAN, cámara<br />
            Paquete 5: Ericsson F5521gw WWAN, cámara, GPS<br />
            Paquete 6: Ericsson F5521gw WWAN, cámara, GPS, doble pase, lector de código barras<br />
            Cámara: cámara integrada de 2MP con enfoque automático y luz LED doble<br />
            Lector de código de barras: con opción de láser 1D o imager 2D (compatible con 1D y 2D)<br />
            GPS: receptor GPS (con capacidad de DGPS)<br />
            Doble paso: doble paso a través de conectores (para antena externa)
        </p>
        <p>Garantía</p>
        <p>    Garantía limitada de 3 años para partes y mano de obra</p>
        <p>Dimensiones y Peso</p>
        <p>
            15.0 cm (L) x 18.3 cm (A) x 5.6 cm (AI)<br />
            1.04 kg (con la correa y ambas baterías)
        </p>
        <p>Opciones Integradas8</p>
        <p>
            Teclado numérico con botones grandes, incluye botones de navegación<br />
            Lector de huellas digitales
        </p>
        <p>Para saber cuál modelo Toughbook le conviene más mire el cuadro comparativo de productos</p>
        <p>
            Consulte con su distribuidor o representante de Panasonic antes de hacer una compra.<br />
            1 Según pruebas de un laboratorio externo de ámbito nacional según la norma MIL-STD-810G, Método 516.6, Procedimiento IV para pruebas de caída en tránsito y según IEC 60529, Secciones 13.4, 13.6.2, 14.2.5 y 14.3 para IP65.<br />
            2 Solamente técnicos capacitados, con el equipo apropiado, deberán retirar la unidad SSD.<br />
            3 La memoria útil total será menor dependiendo de la configuración actual del sistema.<br />
            4 300 nits sin ayuda de luz ambiente. Hasta 6000 nits en condiciones soleadas bajo la luz directa del sol.<br />
            5 Máx. con RAM estándar. El tamaño de VRAM no puede ser establecido por el usuario y varía de acuerdo con el sistema operativo y el tamaño de RAM.<br />
            6 Las características de rendimiento de la batería, tales como el tiempo de carga y el tiempo de vida útil de la batería pueden variar de acuerdo con las condiciones de uso de la laptop y la batería. Los tiempos de funcionamiento y carga variarán en base a muchos factores, incluyendo el brillo, las aplicaciones, funciones o características, la conservación de la energía, el acondicionamiento de la batería y otras preferencias del cliente. MobileMark 2005 proporciona los resultados de prueba de la batería.<br />
            7 Requiere software y activación para habilitar la protección contra robo.<br />
            8 Los Accesorios y las Opciones integradas podrían variar dependiendo de la configuración de su unidad.<br />
            9 PIMD incluye un OCR (MRZ de 3 pistas) + lector RFID (ISO 15693, 14443 Tipo A/B) + lector de huellas digitales (FIPS 201).
        </p>
    </div>
</div>