@{
    ViewBag.Title = "ADS | SisJoy 4.0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
			<div class="row">
				<h3 class="col-lg-10">SisJoy 4.0</h3>
			</div>
		</div>
			<div id="body" class="row">
				<div class="col-lg-10 col-lg-offset-1">
					<p>Solución Exacta para su Joyería</p>
					<p>Características Generales</p>
					<p>Sisjoy 4.0</p>
					<p>- Sistema Multiusuario (sin límite de usuarios) y Multiempresa (hasta 99 empresas).<br />
					- Ambiente Windows.<br />
					- Ayuda (Manual) en línea.<br />
					- Manejo de Sucursales, cada una con sus propios consecutivos.<br />
					- Manejo de fotos por cada Artículo, asignable por nombre o bien tomadas directamente por el sistema mediante alguna cámara (web, digital) conectada al equipo. Las fotos se pueden mostrar en cualquier documento, ayuda, o consulta.<br />
					- Ayuda de búsquedas en todos los campos claves del sistema (búsqueda de catálogos).<br />
					- Control de Usuarios para limitar/permitir acceder a las opciones del sistema.<br />
					- Módulos de reconstrucción de información y verificación de integridad de documentos.<br />
					- Formateo de documentos (Venta, Compra, Etiquetas, etc.) para adecuarse a cualquier formato.<br />
					- Impresión de Etiquetas de Joyería configurable para adaptarse a los diferentes tipos de impresora en el mercado ( Zebra , Datamax , Toshiba , Eltron , Sato , etc. ).<br />
					- Reportes en Pantalla, Impresora o archivo Excel.<br />
					- Módulo de Respaldos generando archivos ZIP.<br />
					- Manejo de hasta 5 impresoras para Documentos.<br />
					- Cierre masivo de Documentos.<br />
					- Cambios masivos de precios con opción a cálculo mediante fórmula definida por el usuario.<br />
					- Exporta/Importa catálogos generales varios.<br />
					- Une información entre empresas/sucursales.<br />
					- Configuración de colores y tipos de letras.<br />
					- Integración con Sistema de Taller (futuras versiones 20% del precio del sistema).<br />
					- Fácil toma de Foto y Etiquetado al momento de dar de alta artículos al Inventario.<br />
					- Modificación Masiva de Precios y Rápido Re-Etiquetado al momento.<br />
					- Reportes al Detalle de cada Transacción, Cliente, Artículo, etc. a Pantalla, Impresora y/o Excel.<br />
					- Catálogo de Clientes con captura de Eventos (aniversario, cumpleaños, etc.)<br />
					- Fácil Búsqueda de Clientes, Artículos, Documentos, etc.<br />
					- Levantamiento de Inventario con Colectores de Datos Inalámbrico desde su Vitrina.<br />
					- No se preocupe por cobros de implementación.<br />
					- NOSOTROS le ofrecemos nuestra póliza de servicio al adquirir SisJoy 2.0 para que no se preocupe por cargos "Extras".</p>
					<p>Funciones del Módulo de Artículos</p>
					<p>    Generador de códigos de Artículos de forma automática mediante 2 formatos configurables.<br />
					    Codificación de costos del Artículo y posibilidad de impresión en las etiquetas.<br />
					    Actualizaciones de Costos y Precios del Artículo configurable e independientes.<br />
					    Impresión y configuración de etiquetas especiales para joyería.<br />
					    Posibilidad de configurar Artículos que no afecten a inventarios en existencia.<br />
					    Clasificaciones varias por cada Artículo (Línea, Grupo, Material, Unidad, Proveedor).<br />
					    Liga de cada Artículo con tabla de Descuento configurable para manejo de descuentos por monto o por valor.<br />
					    Manejo de mensajes por Artículo configurables por frecuencia (Siempre, Nunca, Entradas, Salidas).<br />
					    Control de existencias (mínimo, máximo, reordenar).<br />
					    Indicador de Artículo para aparición en catálogo impreso.<br />
					    Modelo de Proveedor por Artículo.<br />
					    *** Reportes:<br />
					    Para Impresión de Etiquetas.<br />
					    Catálogo de Artículos.<br />
					    Lista de Precios.<br />
					    De Inventarios.<br />
					    De Movimientos.<br />
					    De Control de Existencia.<br />
					    Propiedad de Inventario.<br />
					    Existencia en Unidades.<br />
					    De Artículos con Fotografía.<br />
					    De Movimientos de Consignación Proveedores.<br />
					    De Existencia en Consignación de Proveedores.<br />
					    De Movimientos de Consignación Clientes.<br />
					    De Existencia en Consignación de Clientes.<br />
					    Análisis de Existencia.<br />
					    Análisis de Compras.<br />
					    Análisis de Venta.</p>
					<p>Funciones del Módulo de Clientes</p>
					<p>    Manejo de Consignaciones a Clientes.<br />
					    Saldos por Crédito Normal y de Consignaciones.<br />
					    Control de Eventos para recordar para cada Cliente sus eventos especiales (aniversarios, cumpleaños, etc.).<br />
					    Posibilidad de manejar Anticipos de Clientes.<br />
					    Clasificaciones varias de Clientes (Tipo, Grupo y Zona).<br />
					    Control de envío de Edos. De Cuenta/Publicidad para Clientes.<br />
					    Límites de Crédito y Días de Crédito para compras Normales y de Consignación.<br />
					    Manejo de mensajes por Cliente configurables por frecuencia (Nunca, Siempre, Cargos, Abonos).<br />
					    *** Reportes:<br />
					    De Etiquetas para mensajería.<br />
					    Catálogo de Clientes.<br />
					    De Eventos.<br />
					    De Movimientos.<br />
					    De Saldos.<br />
					    De Estados de Cuenta.<br />
					    De Proyección de Cobranza.<br />
					    De Análisis de Cargos.<br />
					    De Consignaciones a Clientes.</p>
					<p>Funciones del Módulo de Proveedores</p>
					<p>    Manejo de Consignaciones de Proveedores.<br />
					    Saldos por Crédito Normal y de Consignaciones.<br />
					    Posibilidad de manejar Anticipos de Clientes.<br />
					    * Reportes:<br />
					    Catálogo de Proveedores.<br />
					    De Movimientos.<br />
					    De Saldos.<br />
					    De Estados de Cuenta.<br />
					    De Proyección de Pagos.<br />
					    De Análisis de Cargos.<br />
					    De Consignaciones de Proveedor.</p>
					<p>Funciones de Nuestros Documentos</p>
					<p>    Manejo de 5 tipos de Documentos (Ventas, Compras, Cambios de Lugar y Forma, Facturación, Control de Pagos).<br />
					    * Ventas:<br />
					    Notas de Venta.<br />
					    Confirmación de Venta.<br />
					    Devolución de Venta.<br />
					    Devolución de Consignación a Clientes.<br />
					    Separados.<br />
					    * Compras:<br />
					    Notas de Compra.<br />
					    Confirmación de Compra.<br />
					    Devolución de Compra.<br />
					    Devolución de Consignación a Proveedores.<br />
					    Pedidos.<br />
					    * Cambio de Lugar y Forma:<br />
					    Traspaso de inventario entre Sucursales.<br />
					    Traspaso de inventario entre Empresas.<br />
					    Re-Inventariado.<br />
					    * Facturación:<br />
					    Facturas.<br />
					    Remisiones.<br />
					    * Control de Pagos y Documentos:<br />
					    Emisión y control de Pagarés.<br />
					    Caja.<br />
					    Tickets (Punto de Venta).</p>
				</div>
			</div>
		