@{
    ViewBag.Title = "ADS | Punto de venta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Contpaq i - Punto de venta &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/puntoventa-contpaq.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>CONTPAQ I® PUNTO DE VENTA ES EL SISTEMA QUE INTEGRA DE MANERA ÁGIL LAS OPERACIONES EN TU PUNTO DE VENTA AYUDÁNDOTE A CONTROLAR TU INVENTARIO, CUIDAR TU CAJA, FACTURAR ELECTRÓNICAMENTE Y GANAR MÁS DINERO.</p>
        <p>Diseñado para empresas de comercio al detalle que requieren control de su caja e inventarios</p>
    </div>
</div>
