@{
    ViewBag.Title = "ADS | Toughpad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Panasonic ToughPad &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/toughpad-panasonic.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>La primera tableta intrépida completamente resistente con Android 4.0 combina una alta codificación en los datos y seguridad en el dispositivo con una conectividad a toda prueba y tecnología de nivel empresarial que requieren tanto empresas como agencias gubernamentales.</p>
        <p>La FZ-A1 es la única tableta aprobada por FIPS 140-2 con un núcleo de seguridad dedicado para la codificación de datos que incluye controladores pre-instalados para lectores de memorias inteligentes aprobados.</p>
        <p>Diseñada para desempeñarse en cualquier ambiente, la FZ-A1 sigue siendo la campeona invicta e intacta de las tabletas resistentes, con la confiabilidad sin igual y el bajo mantenimiento que la convierte en la principal computadora portátil resistente de la industria.</p>
        <p>No todas las tabletas pueden soportar las sacudidas, golpes, caídas y derrames que resultan de un uso móvil prolongado. Si busca una tableta resistente con el sistema operativo Windows®, no necesita buscar más; ya ha encontrado la FZ-G1. Diseñada no sólo para soportar los golpes duros de la vida, la FZ-G1 está construida para funcionar sin problemas en cualquier ambiente, desde el calor intenso y la luz solar, hasta la lluvia torrencial y las temperaturas heladas.</p>
        <p>Con más de 24 años de experiencia diseñando, verificando y construyendo las soluciones más profesionales y confiables para tabletas, Panasonic es inigualable a la hora de ofrecer una tableta con Windows 8 Pro que combine seguridad de datos y dispositivos, conectividad sin interrupciones, tecnología a nivel empresarial y funcionamiento sin problemas.</p>
    </div>
</div>
