@{
    ViewBag.Title = "ADS | OrdSer 2.0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">OrdSer 2.0</h3>
    </div>
</div>
<div class="col-lg-10 col-lg-offset-1">
    <p>Solución Exacta para el Control de sus Técnicos</p>
    <p>Características Generales</p>
    <p>OrdSer 2.0</p>
    <p>
        - Sistema Multiusuario (sin límite de usuarios) y Multiempresa (hasta 99 empresas).<br />
        - Ambiente Windows.<br />
        - Ayuda (Manual) en línea.<br />
        - Integración con el SisCom 2.3 para manejo de clientes e inventario.<br />
        - Ayuda de búsquedas en todos los campos claves del sistema (búsqueda de catálogos, F3).<br />
        - Control de Usuarios para limitar/permitir acceder a las opciones del sistema.<br />
        - Reportes en Pantalla, Impresora o archivo Excel.<br />
        - Configuración de colores y tipos de letras.<br />
        - No se preocupe por cobros de implementación.<br />
        - Nosotros le ofrecemos nuestra póliza de servicio al adquirir OrdSer 2.0 para que no se preocupe por cargos "Extras".
    </p>
    <p>Funciones del Módulo de Órdenes de Servicio</p>
    <p>
        Captura de Órdenes de Servicio, con fecha, el estado, tipo de órden, quién recibe y a quién se le asigna.<br />
        Asignación de Técnico a una fecha y hora determinada .<br />
        Captura de movimientos de lo realizado por los técnicos, con tiempo utilizado, para cálculo de costo del servicio.<br />
        Captura de observaciones para que sólo la Administración las vea.<br />
        Captura de artículos necesarios para llevar a cabo el servicio y sacar el costo de los mismos.<br />
        Capacidad de bloquear las órdenes, así como modificar su Estado (Activa, En Proceso, Terminada, Cancelada, Suspendida).
    </p>
    <p>Funciones del Módulo de Cotizaciones</p>
    <p>
        Captura de Cotizaciones, con fecha, el estado (Activa, Cotizada, Exitosa, Cancelada, Descartada), quién solicita, a quién se le asigna, y se programa la siguiente llamada.<br />
        Captura de las Llamadas subsecuentes a la primera, dejando grabado hora y fecha, así como quien la realizó y el detalle, y programando la siguiente o modificando el estado de la cotización.<br />
        Reporte para ver las cotizaciones con sus llamadas.
    </p>
    <p>Catálogos del Sistema</p>
    <p>
        Catálogo de Clientes (interfase SisCom 4.0).<br />
        Catálogo de Técnicos.<br />
        Catálogo de Modelos.<br />
        Catálogo de Equipos.
    </p>
</div>
