@{
    ViewBag.Title = "ADS | Caja Aspel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Aspel-Caja &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/caja-aspel.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>Aspel-CAJA convierte un equipo de cómputo en un punto de venta capaz de operar con pantallas de torreta, lectores ópticos de código de barras, básculas, cajones de dinero, lectores de tarjetas bancarias e impresoras de tickets, entre otros dispositivos, para agilizar las operaciones de venta.</p>
        <p>Aspel-CAJA 3.5 permite el manejo y control de las operaciones de un punto de venta, ya que con sólo ingresar los productos del inventario, el sistema está listo para capturar notas de venta e imprimir tickets o facturas, así como realizar devoluciones, cancelaciones y notas de crédito.</p>
        <p>Además, con Aspel-CAJA 3.5 puedes generar Facturas Electrónicas o Impresas** de acuerdo a las disposiciones fiscales, incluyendo los cambios en el Art. 29 del Código Fiscal de la Federación aplicables a partir de 2012, lo que te garantiza una administración controlada y el cumplimiento de tus obligaciones.</p>
        <p>Acepta pagos por diversos medios como tarjetas de crédito o débito***, efectivo, vales, entre otros; además te permite realizar recargas electrónicas de tiempo aire, con lo cual podrás obtener una mayor captación de ingresos al ofrecer este servicio. </p>
        <p>El inventario se actualiza automáticamente al capturar las ventas, mostrando en todo momento las existencias reales de los productos, para una adecuada administración y una óptima planeación de compras.</p>
        <p>Si tienes varios puntos de venta o sucursales, Aspel-CAJA 3.5 permite enviar la información de las existencias hacia las diferentes tiendas y recibe de las sucursales el concentrado de ventas e ingresos.</p>
        <p>Genera múltiples reportes y estadísticas ya sea en general o por sucursal, con lo que podrás tener un amplio conocimiento de la operación tan detalladamente como lo necesites: por vendedor, horario, caja, productos más vendidos, entre otros reportes.</p>
        <p>Para asegurar la información de tu empresa y un correcto uso del sistema, puedes establecer claves de usuario para permitir o negar el acceso a las diferentes opciones del sistema, tales como cambio de precios, cancelación de notas, bloqueos temporales de la caja, corte de caja por cajero, etc.</p>
        <p>Si tu comercio o empresa maneja crédito, Aspel-CAJA 3.5 controla las cuentas por cobrar para que de manera fácil y rápida conozcas los saldos de tus clientes y puedas registrar sus pagos.</p>
        <p>
            Beneficios:<br />
            Al implementar la nueva versión de Aspel-CAJA 3.5 en tu empresa o comercio, obtienes inmediatamente múltiples beneficios:<br />
            Control total de tus ingresos y existencias en las tiendas y cajas.<br />
            Información veraz y oportuna que te permite agilizar la toma de decisiones como el resurtido de productos, promociones para reducir stock, entre otras.<br />
            Cumples con la obligación de facturar electrónicamente.<br />
            Mantienes tu inventario al día.<br />
            Conoces el saldo de tus clientes en todo momento.
        </p>
    </div>
</div>
