@{
    ViewBag.Title = "ADS | CF-H2 Panasonic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Panasonic Toughbook CF-H2 &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/cfh2-panasonic.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>
            Toughbook H2<br />
            Tableta PC de pantalla táctil dual de 10,1" visible bajo la luz solar. Hasta 6,000 nit bajo la luz solar directa. Procesador Intel Core i5. Certificación MIL-STD-810G e IP65. Ericsson F5521gw WWAN opcional.
        </p>
        <p>
            La laptop personal tipo tableta de mano más resistente de la industria<br />
            La nueva laptop personal tipo tableta de mano resistente Toughbook® H2 de Panasonic ejecuta un sistema operativo completo (Windows® 7 Profesional) y es la mejor herramienta de productividad para el trabajador móvil. Con características ergonómicas superiores, una pantalla LED de 10,1 pulgadas visible a la luz del sol, capaz de hasta 6000 nits bajo la luz solar directa, y diseño sellado contra todo tipo de clima, la H2 le permite trabajar prácticamente en cualquier parte. Diseñada con un rápido procesador Intel® Core™ i5 vPro™* y chasis de aleación de magnesio recubierto con policarbonato, la Toughbook H2 cuenta con certificación por IP65 y MIL-STD-810G1 y ofrece una gama completa de características inalámbricas integradas, incluyendo Wi-Fi, Bluetooth® y LTE 4G opcional o banda ancha móvil Gobi™2000 3G. Si le añadimos sus baterías gemelas sustituibles en caliente, puertos como USB, en serie y ethernet, lectores de códigos de barras y SmartCard, tendrá usted una laptop personal tipo tableta de mano que no tiene precedentes en terreno.
        </p>
        <p>* Model CF-H2A</p>
        <p>1 Probada por un laboratorio independiente de terceros en los EE. UU., según el Método 516.6 Procedimiento IV de MIL-STD-810G para caídas en tránsito y las Secciones 13.4, 13.6.2, 14.2.5 y 14.3 de IEC 60529 para IP65.</p>
        <p>
            Segunda generación de procesadores Intel® Core™ i5 vPro™.<br />
            Intel, el logotipo de Intel, Intel Core, Intel vPro, Core Inside y vPro Inside son marcas comerciales de Intel Corporation en los EE.UU. y / u otros países.
        </p>
        <p>Detalles</p>
        <p>Durabilidad</p>
        <p>
            Certificación MIL-STD-810G (resiste caídas de hasta 1.83 m, impactos, vibraciones, lluvia, polvo, arena, alturas, ciclos de congelamiento y descongelamiento, temperaturas altas y bajas, impactos de temperatura, humedad, atmósferas explosivas)1<br />
            Diseño sellado contra la intemperie en todo clima y con certificación IP651<br />
            Calentador de unidad de disco duro<br />
            Estuche de aleación de magnesio recubierto con policarbonato<br />
            Unidad de disco duro con conexión flexible y protección contra impactos<br />
            Manija integrada y correa de mano de goma ergonómica<br />
            Cubiertas reforzadas para bloqueo de puertos de conexión
        </p>
        <p>Software</p>
        <p>
            Windows® 7 Professional Original de 32 bit2 o Windows® 7 Professional Original de 64 bit2<br />
            Programas Utilitarios de Panasonic incluidos el tablero de mandos y la herramienta de recordatorios de limpieza [Dashboard y Cleaning Reminder Tool, respectivamente], Partición de Recuperación de Sistema
        </p>
        <p>Unidad Central de Proceso (CPU)</p>
        <p>
            Procesador Intel® Core™ i5-2557M vPro™<br />
            - 1,7GHz con Turbo Boost hasta 2,7GHz<br />
            - Memoria Cache Intel Smart de 3MB
        </p>
        <p>Almacenamiento y Memoria</p>
        <p>
            4GB SDRAM (DDR3-1.333MHz), expandible hasta 8GB3,4<br />
            Unidad de disco duro 320GB 7200 rpm (protección contra impactos y conexión flexible)4<br />
            - Opción de conexión flexible, reforzada de 128GB SSD4
        </p>
        <p>Pantalla</p>
        <p>
            LED táctil doble de 10.1 pulgadas 1024 x 768 XGA, visible a la luz del sol<br />
            - Tecnología TransflectivePlus y CircuLumin™ de Panasonic<br />
            - 1 a 6000 nits (dependiendo de las condiciones de iluminación y los ajustes)5<br />
            - Tratamientos antirreflejante y antideslumbrante para la pantalla, polarizador circular<br />
            - Sensor de luz ambiente<br />
            Controlador de video Intel® QM67, VRAM máx. 1563MB con 32 bits6<br />
            Soporte para video externo con una resolución de hasta de 1280 x 1024 a 16.7 millones de colores<br />
            Modo oculto
        </p>
        <p>Audio</p>
        <p>
            Compatible con el audio de alta definición de Intel®<br />
            Bocina integrada
        </p>
        <p>Teclado y Entrada</p>
        <p>
            LCD táctil doble (pantalla táctil y digitalizador)<br />
            Portaestilete incorporado<br />
            Teclado de 74 teclas en pantalla con tecla dedicada Windows®<br />
            Con un máximo de 5 botones programables definidos por el usuario (varía según modelo)
        </p>
        <p>Interfaces</p>
        <p>
            Conector de acoplamiento (Dedicado de 19 clavijas)<br />
            Serial (D-sub 9 clavijas)<br />
            USB 2.0 (opc. 2do puerto USB)7 (4 clavijas)<br />
            Ethernet 10/100/1000 (RJ-45)
        </p>
        <p>Sistema Inalámbrico</p>
        <p>
            Opción de banda ancha móvil Ericsson F5521gw WWAN (póngase en contacto con Panasonic para los países aprobados/compañías) integrada<br />
            Intel® Centrino® Advanced-N 6205 802.11a/b/g/n<br />
            Bluetooth® v2.1 + EDR (Clase 1)<br />
            Seguridad<br />
            - Autentificación: LEAP, WPA, 802.1x, EAP-TLS, EAP-FAST, PEAP<br />
            - Codificación: CKIP, TKIP, WEP de 128 bits y 64 bits, AES por Hardware
        </p>
        <p>Suministro de Energía</p>
        <p>
            Doble paquete de baterías de litio-ion intercambiables en caliente - 7.2V, típico 3400mAh, mínimo 3200mAh cada batería<br />
            Duración de la batería: 6.5 horas (con ambas baterías)8<br />
            Tiempo de carga de la batería: 3 horas encendida8<br />
            Adaptador de CA: CA 100 V-240 V 50/60 Hz, autodetección y cambio automático del suministro de energía según región
        </p>
        <p>Conservación de Energía</p>
        <p>Función Suspender/Reanudar, Hibernación, En Espera, ACPI BIOS</p>
        <p>Características de Seguridad</p>
        <p>
            Seguridad protegida por contraseñas: Supervisor, Usuario, Bloqueo del Disco Duro<br />
            Ranura de bloqueo para cable de seguridad Kensington (en cuna opcional)<br />
            Chip de seguridad de módulo de plataforma confiable (TPM) versión 1.2<br />
            Agente de protección contra robo Computrace® en el BIOS9<br />
            Tecnología Intel® antirrobo<br />
            Lector de huellas digitales<br />
            Lector de tarjetas introducibles SmartCard<br />
            Lector de tarjetas SmartCard sin contacto
        </p>
        <p>Características Integradas</p>
        <p>H2 LITE</p>
        <p>    Modelo básico</p>
        <p>H2 PRO</p>
        <p>
            Cámara de 2.0MP con enfoque automático y luz LED<br />
            Lector de código de barras
        </p>
        <p>H2 ELITE</p>
        <p>
            Cámara de 2.0MP con enfoque automático y luz LED<br />
            Lector de código de barras<br />
            Lector de tarjetas introducibles SmartCard<br />
            RFID sin contacto de 13.56 MHz y lector de tarjetas SmartCard<br />
            - Cumple con ISO 15693 y 14443 A/B<br />
            Lector de huellas digitales
        </p>
        <p>Certificaciones de Seguridad</p>
        <p>
            Seguridad de equipos IT EN/IEC 60950-1<br />
            (EN:EU, UL:US UL 60950-1)<br />
            Seguridad de equipo eléctrico para uso médico (UE) (EN/IEC 60601-1 funcionando con baterías)<br />
            Equipo eléctrico para uso (CAN/CSA-C22.2 Núm.601.1-M90 médico (UE))<br />
            IEM de equipo TI (EE.UU.) (FCC CFR 47 P.15 Sub B-Clase B)<br />
            IEM de equipo TI (UE) (EN 55022/CISPR 22-Clase B)<br />
            SEM de equipo TI (UE) (EN 55024)<br />
            IEM industrial (UE) (EN 55011/CISPR 11-Clase B)<br />
            Radio (EE.UU.) (FCC CFR 47 P.15 Sub C)<br />
            Radio (Canadá) (RSS-210)<br />
            SAR (EE.UU.) (FCC CFR 47 P.2)
        </p>
        <p>Garantía</p>
        <p>Garantía limitada de 3 años, refacciones y mano de obra</p>
        <p>Dimensiones y Peso</p>
        <p>
            27.4 cm (L) x 26.9 cm (A) x 5.8 cm (Al)<br />
            1.4 kg (con la manija, correa y ambas baterías)
        </p>
        <p>Opciones Integradas10</p>
        <p>
            Banda ancha móvil Ericsson F5521gw WWAN (póngase en contacto con Panasonic para los países aprobados/compañías) (EV-DO Rev. A, HSPA)<br />
            Receptor GPS<br />
            Segundo puerto USB (reemplaza el puerto Ethernet)<br />
            Unidad de disco de estado sólido (SSD) de 128GB
        </p>
        <p>Para saber cuál modelo Toughbook le conviene más mire el cuadro comparativo de productos</p>
        <p>
            Consulte con su distribuidor o representante de Panasonic antes de hacer una compra.<br />
            1 Según pruebas de un laboratorio externo de ámbito nacional según la norma MIL-STD-810G, Método 516.6, Procedimiento IV para pruebas de caída en tránsito y según IEC 60529, Secciones 13.4, 13.6.2, 14.2.5 y 14.3 para IP65. El estilete ha pasado las pruebas para la certificación IP65 pero aún no está certificado.<br />
            2 Un conjunto completo de controladores Windows XP se encuentra disponible a través de panasonic.com/toughbook/support.<br />
            3 La memoria útil total será menor dependiendo de la configuración actual del sistema.<br />
            4 1GB = 1,000,000,000 bytes.<br />
            5 500 nits sin ayuda de luz ambiente. Hasta 6000 nits en condiciones soleadas bajo la luz directa del sol.<br />
            6 El tamaño de VRAM no puede ser establecido por el usuario y varía de acuerdo con el sistema operativo y el tamaño de RAM. El VRAM máx. para Windows 7 de 64 bits VRAM es de 1696MB con 4GB de memoria.<br />
            7 Reemplaza el puerto Ethernet.<br />
            8 Las características de rendimiento de la batería, tales como el tiempo de carga y el tiempo de vida útil de la batería pueden variar de acuerdo con las condiciones de uso de la laptop y la batería. Los tiempos de funcionamiento y carga variarán en base a muchos factores, incluyendo el brillo de la pantalla, las aplicaciones, funciones o características, la conservación de la energía, el acondicionamiento de la batería y otras preferencias del cliente. MobileMark 2007 proporciona los resultados de prueba de la batería.<br />
            9 Requiere software y activación para habilitar la protección contra robo.<br />
            10 Los accesorios y las Opciones Integradas podrían variar dependiendo de la configuración de su unidad.<br />
            11 7.2V, 2900 mAh.
        </p>
    </div>
</div>
