@{
    ViewBag.Title = "ADS | Bancos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Contpaq i - Bancos &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/bancos-contpaq.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>CONTPAQ I® BANCOS ES EL SISTEMA CON EL QUE TU DINERO SIEMPRE ESTÁ A LA VISTA, YA QUE TE AYUDA A CONTROLAR TUS INGRESOS Y EGRESOS, Y A INTEGRAR LA INFORMACIÓN DE TUS COMPROBANTES FISCALES DIGITALES, FACILITANDO LA ADMINISTRACIÓN DE TUS CUENTAS BANCARIAS Y EL FLUJO DE EFECTIVO.</p>
        <p>Diseñado para tesoreros, contadores, encargados de pagos, administradores y directores de todo perfil de empresas.</p>
    </div>
</div>
