@{
    ViewBag.Title = "ADS | Factura Electrónica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Contpaq i - Factura Electrónica &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/facturae-contpaq.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>CONTPAQ i® FACTURA ELECTRÓNICA ES EL SISTEMA QUE FACILITA LA EMISIÓN, TIMBRADO Y RECEPCIÓN DE  COMPROBANTES FISCALES DIGITALES Y EL CONTROL DE LAS CUENTAS POR COBRAR, PARA QUE PUEDAS AGILIZAR TUS TRANSACCIONES COMERCIALES Y SER MÁS COMPETITIVO.</p>
        <p>Diseñado para empresas y personas físicas dedicadas a proveer servicios y que requieren control de clientes y cuentas por cobrar.</p>
    </div>
</div>
