@{
    ViewBag.Title = "ADS | Nomina";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Contpaq i - N&oacute;minas &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/nomina-contpaq.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>CONTPAQ i® NÓMINAS ES EL SISTEMA PARA LA ADMINISTRACIÓN DE LA NÓMINA QUE SE ADAPTA DE MANERA FÁCIL A TUS PROCESOS DE CÁLCULO, CUMPLE CON TODAS LAS OBLIGACIONES DE LEY Y TE PERMITE HACER UN PAGO A TIEMPO A TUS EMPLEADOS.</p>
        <p>Diseñado para noministas, contadores y encargados de recursos humanos de todo perfil de empresas.</p>
    </div>
</div>
