@{
    ViewBag.Title = "ADS | CF-31 Panasonic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Panasonic Toughbook CF-31 &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/cf31-panasonic.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>
            Toughbook 31<br />
            Completamente resistente de acuerdo con las certificaciones MIL-STD-810G e IP65. LCD de 13,1". Diseño listo para banda ancha móvil. Ericsson F5521gw WWAN opcional.
        </p>
        <p>
            Poderosa, resistente e inalámbrica<br />
            Panasonic presenta la Toughbook 31, la laptop confiable que ofrece el más alto desempeño en su clase, en combinación con el diseño más resistente del mundo. Con protección contra caídas y una certificación MIL-STD-810G e IP651, es el líder indisputable en la categoría de unidades completamente resistentes. Sus nuevos procesadores Intel Core™ i5 e i3 y gráficas discretas disponibles son algo sin precedente, y ofrecen un desempeño comparable a una laptop de escritorio, pero con mejor calidad de video y gráficas en 3D. La Toughbook 31 ofrece una pantalla táctil brillante de 13,1" y 1.100 nit disponible con tecnología CircuLumin™ de Panasonic, cámara Web integrada y una batería que dura hasta 11 horas. Gracias a seis generaciones de desempeño resistente y once años de consistente compatibilidad de estación de conexión, usted podra contar con una laptop que le acompañará a cualquier lugar, en cualquier momento.
        </p>
        <p>* El modelo CF-31K está disponible con Centrino® 2 con tecnología vPro™</p>
        <p>
            Segunda generación de procesadores Intel® Core™ i5 vPro™.<br />
            Intel, el logotipo de Intel, Intel Core, Intel vPro, Core Inside y vPro Inside son marcas comerciales de Intel Corporation en los EE.UU. y / u otros países.
        </p>
        <p>Detalles</p>
        <p>Durabilidad</p>
        <p>
            Certificación MIL-STD-810G (resiste caídas de hasta 1.83 m, impactos, vibraciones, lluvia, polvo, arena, altitudes, ciclos de congelamiento y descongelamiento, temperaturas altas y bajas, impactos de temperatura, humedad, atmósferas explosivas)3<br />
            Con certificación MIL-STD-461F<br />
            Certificación IP65, diseño sellado para protección contra todas las condiciones metereológicas3<br />
            Calentador de unidad de disco duro<br />
            Estuche totalmente de aleación de magnesio con manija<br />
            Unidad de disco duro con conexión flexible, protección contra impactos y liberación rápida<br />
            Cubiertas reforzadas para bloqueo de puertos de conexión<br />
            Película de pantalla reemplazable preinstalada para proteger la pantalla táctil
        </p>
        <p>Software</p>
        <p>
            Windows® 7 Professional Original de 32 bit2 o Windowss® 7 Professional Original de 64 bit2<br />
            Programas Utilitarios de Panasonic, Partición de Recuperación
        </p>
        <p>CPU5</p>
        <p>
            Procesador Intel® Core™ i5-2540M vPro™<br />
            - 2.6GHz con Turbo Boost hasta 3.3GHz<br />
            - Memoria Cache Intel Smart de 3MB<br />
            Procesador Intel® Core™ i5-2520M vPro™<br />
            - 2.5GHz con Turbo Boost hasta 3.2GHz<br />
            - Memoria Cache Intel Smart de 3MB<br />
            Procesador Intel® Core™ i3-2310M<br />
            - 2.1GHz<br />
            - Memoria Cache Intel Smart de 3MB
        </p>
        <p>Almacenamiento y Memoria</p>
        <p>
            Modelos i5: 4GB SDRAM (DDR3-1.333MHz), expandible hasta 8GB7<br />
            Modelo i3: 2GB SDRAM (DDR3-1.333MHz), expandible hasta 8GB7<br />
            Unidad de disco duro con conexión flexible, protección contra impactos y liberación rápida<br />
            - 320GB 7200 rpm (modelos i5), 320GB 5400 rpm (modelo i3)7<br />
            - Unidades de disco de estado sólido (SSD) de 128GB y 256GB opcionales7
        </p>
        <p>Pantalla</p>
        <p>
            LED táctil de 13.1 pulgadas 1024 x 768 XGA, visible a la luz del sol<br />
            - Tecnología CircuLumin™ de Panasonic<br />
            - 2-1200 nit<br />
            - Polarizador circular2<br />
            - Tratamientos antirreflejante y antideslumbrante para la pantalla<br />
            CPU 2540M con gráficas intercambiables en el BIOS:<br />
            - ATI Radeon™ HD6750, 512MB con VRAM dedicada<br />
            - Controlador de video Intel® QM67, VRAM máx. 1428MB con 32 bit6<br />
            2520M CPU:<br />
            - Controlador de video Intel QM67, VRAM máx. 1428MB con 32 bit6<br />
            2310M CPU:<br />
            - Controlador de video Intel HM65, VRAM máx. 1428MB con 32 bit6<br />
            Soporte para video externo con una resolución de hasta de 1280 x 1024 a 16.7 millones de colores<br />
            Modo oculto
        </p>
        <p>Audio</p>
        <p>
            Compatible con el audio de alta definición de Intel®<br />
            Bocina frontal integrada<br />
            Controles de volumen y silenciador en el teclado
        </p>
        <p>Teclado y Entrada de Datos</p>
        <p>
            Pantalla táctil<br />
            Portaestilete incorporado<br />
            87 teclas con tecla dedicada Windows®<br />
            Almohadilla sensible a la presión con soporte de desplazamiento vertical<br />
            Segunda batería o unidad de DVD Super MULTI opcional
        </p>
        <p>Compartimientos para Multimedios Ranuras de Expansión</p>
        <p>
            Tarjeta de laptop tipo II x 1<br />
            Tarjeta SD (SDXC)<br />
            Tarjeta ExpressCard/54 x 1
        </p>
        <p>Interfaces</p>
        <p>
            Conector de acoplamiento de (80 clavijas)<br />
            HDMI (Tipo A)<br />
            VGA (D-sub 15 clavijas)<br />
            Audífonos/bocina (Miniclavija estereofónica)<br />
            Micrófono/entrada de línea (Miniclavija estereofónica)<br />
            Serial (D-sub 9 clavijas)<br />
            Conexión de antena externa (Coaxial de 50 ohmios)<br />
            USB 2.0 (x 4)—USB 3.0 (x1)8 opcional (4 clavijas)<br />
            Conexión opcional IEEE 1394a (FireWire) (4 clavijas)<br />
            Ethernet 10/100/1000 (RJ-45)<br />
            Conexión opcional 10/100 segundo<br />
            LAN (Ethernet) (RJ-45)<br />
            Módem 56K opcional (RJ-11)
        </p>
        <p>Sistema Inalámbrico</p>
        <p>
            Opción de banda ancha móvil Ericsson F5521gw WWAN (póngase en contacto con Panasonic para los países aprobados/compañías)<br />
            Intel® Centrino® Advanced-N 6205 802.11a/b/g/n (modelos con CPU i5)<br />
            Atheros 802.11b/g/n (en modelos con CPU i3)<br />
            Bluetooth® v2.1 + EDR (Clase 1)<br />
            Seguridad<br />
            - Autentificación: LEAP, WPA, 802.1x, EAP-TLS, EAP-FAST, PEAP<br />
            - Codificación: CKIP, TKIP, WEP de 128 bits y 64 bits, AES por Hardware<br />
            Paso de antena seleccionable por el usuario (sencillo es estándar, doble es opcional)<br />
            Interruptor deslizable de encendido/apagado
        </p>
        <p>Suministro de Energía</p>
        <p>
            CPU i5:<br />
            - Duración de la batería: 13.5 horas (2520M), 12.5 horas (2540M utilizando gráficas Intel), 7.5 horas (con CPU 2540M utilizando gráficas ATI)9<br />
            - Paquete de baterías de litio-ion de larga duración (10.65V, típico 8550mAh, mínimo 8100mAh)<br />
            - Tiempo de carga de la batería: 3.5 horas apagada, 4.5 horas encendida9<br />
            CPU i3:<br />
            - Duración de la batería: 7.5 horas (con batería de peso liviano)9<br />
            - Paquete liviano de baterías de litio-ion (10.8V, típico 4500mAh, mínimo 4200mAh)<br />
            - Tiempo de carga de la batería: 2 horas apagada, 2.5 horas encendida9<br />
            Segunda batería con compartimiento para medios opcional: 6.5 horas adicionales (modelos 2520M y 2310M)1<br />
            Adaptador de CA: CA 100V-240V 50/60 Hz, autodetección y cambio automático del suministro de energía según región<br />
            Función Suspender/Reanudar, Hibernación, En espera, ACPI BIOS
        </p>
        <p>Conservación de la energía Garantía Dimensiones y Peso</p>
        <p>
            Garantía limitada de 3 años para partes y mano de obra<br />
            29.2 cm (L) x 30.2 cm (A) x 7.4 cm (Al)<br />
            3.6 kg o 3.7 kg (El peso varía según el tipo de batería)
        </p>
        <p>Características de Seguridad</p>
        <p>
            Seguridad protegida por contraseñas: Supervisor, Usuario, Bloqueo del Disco Duro<br />
            Ranura de bloqueo para cable de seguridad Kensington<br />
            Chip de seguridad de módulo de plataforma confiable (TPM) versión 1.22<br />
            Agente de protección contra robo Computrace® en el BIOS10<br />
            Tecnología Intel® antirrobo (modelos con CPU i5)<br />
            Lector de huellas digitales opcional<br />
            Lector de tarjetas SmartCard opcional
        </p>
        <p>Opciones Integradas11</p>
        <p>
            Banda ancha móvil Ericsson F5521gw WWAN (póngase en contacto con Panasonic para los países aprobados/compañías)<br />
            Cámara web2<br />
            Receptor GPS<br />
            Teclado retroiluminado - emisivo de goma o plástico sellado<br />
            Segundo conexión LAN (10/100)2 o FireWire, o Módem<br />
            Puerto USB 3.0 (x1)8<br />
            Lector de tarjetas SmartCard<br />
            Lector de huellas digitales<br />
            Segunda batería con compartimiento para medios1<br />
            Bloqueo de la unidad de disco duro y de la batería<br />
            Unidades de disco de estado sólido (SSD) de 128GB y 256GB
        </p>
        <p>Para saber cuál modelo Toughbook le conviene más mire el cuadro comparativo de productos</p>
        <p>
            Consulte con su distribuidor o representante de Panasonic antes de hacer una compra.<br />
            1 No se encuentra disponible en 2540M.<br />
            2 En modelos con CPU i5 solamente.<br />
            3 Según pruebas de un laboratorio externo de ámbito nacional según la norma MIL-STD-810G, Método 516.6, Procedimiento IV para pruebas de caída en tránsito y según la normativa IEC 60529, Secciones 13.4, 13.6.2, 14.2.5 y 14.3 para IP65.<br />
            4 Un conjunto completo de controladores Windows XP se encuentra disponible a través de panasonic.com/toughbook/support.<br />
            5 También se encuentra disponible un procesador Intel Core i7.<br />
            6 El tamaño de VRAM no puede ser establecido por el usuario y varía de acuerdo con el sistema operativo y el tamaño de RAM. El VRAM máx. para Windows 7 de 64 bit VRAM es de 1696MB con 4GB de memoria.<br />
            7 1GB = 1,000,000,000 bytes.<br />
            8 Reemplaza un puerto USB 2.0.<br />
            9 Las características de rendimiento de la batería, tales como el tiempo de carga y el tiempo de vida útil de la batería pueden variar de acuerdo con las condiciones de uso de la laptop y la batería. Los tiempos de funcionamiento y carga variarán en base a muchos factores, incluyendo el brillo de la pantalla, las aplicaciones, funciones o características, la conservación de la energía, el acondicionamiento de la batería y otras preferencias del cliente. MobileMark 2007 proporciona los resultados de prueba de la batería utilizando Windows 7 Professional.<br />
            10 Requiere software y activación para habilitar la protección contra robo.<br />
            11 Los Accesorios y las Opciones Integradas podrían variar dependiendo de la configuración de su laptop portátil.
        </p>
    </div>
</div>
