@{
    ViewBag.Title = "ADS | COI Aspel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Aspel-COI &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/coi-aspel.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>Aspel-COI 6.0 procesa, integra y mantiene actualizada la información contable y fiscal de la empresa en forma segura y confiable. Proporciona diversos reportes, documentos de trabajo y gráficas que permiten soportar y evaluar el estado financiero de la organización, así como generar oportunamente las diferentes declaraciones fiscales e informativas como las correspondientes a IETU, IVA, ISR y DIOT. Calcula la depreciación de los activos fijos. Mantiene interfaces con los sistemas de la línea Aspel e interactúa con hojas de cálculo, lo que contribuye a lograr una eficiente administración de la empresa. </p>
        <p>
            Beneficios<br />
            Aspel-COI 6.0 le permite a tu empresa:<br />
            Mantener la contabilidad al día mediante la automatización en el registro contable.<br />
            Conocer en cualquier momento la situación financiera de tu empresa, departamentos, centros de costos o proyectos, por medio de las diferentes consultas y reportes que el sistema ofrece automáticamente como el Balance General, Estado de Resultados, entre otros.<br />
            Controlar si así se requiere los gastos, ingresos y presupuestos de cada entidad, en diferentes monedas, permitiendo también un riguroso y eficaz control de los recursos.<br />
            Una oportuna y confiable presentación de las declaraciones fiscales e informativas de tu empresa, ya que identifica automáticamente los montos de los impuestos IVA e ISR (y sus retenciones), generando en cualquier momento:
        </p>
        <p>
            La Declaración Informativa de Operaciones con Terceros (DIOT) lista para la carga batch.<br />
            Los ingresos gravables y deducciones autorizadas para efectos de IETU.<br />
            La Declaración mensual de IVA e ISR, entre otras.<br />
            La Declaración anual de personas físicas y morales.
        </p>
        <p>
            Aspel-COI te facilita la generación de las declaraciones provisionales y definitivas de IVA, IETU e ISR, para que esta forma puedas utilizar el servicio de Pago referenciado ágilmente.<br />
            Recuerda que a partir de febrero del 2012 todas las personas morales están obligadas a utilizar el servicio para los pagos provisionales y definitivos correspondientes al mes de enero del 2012 y subsecuentes.<br />
            Consulta<br />
            Controlar y llevar un seguimiento del presupuesto asignado a cada cuenta o departamento.<br />
            Generar todos los reportes como estados financieros y documentos de trabajo sin capturar datos en las hojas de cálculo de Microsoft Excel®, con la ventaja de que al actualizar la información en Aspel-COI se actualizan automáticamente las hojas de cálculo relacionadas.<br />
            Una integración total de los procesos de la empresa, ya que intercambia información con los sistemas de la línea Aspel-SAE, Aspel-NOI, Aspel-CAJA y Aspel-BANCO, eliminando así los posibles errores de captura y la duplicidad de actividades, mejorando así, la productividad de la empresa. Al estar integrado con Aspel-SAE ofrece el registro contable automático que se requiere para el manejo de comprobantes fiscales digitales.
        </p>
    </div>
</div>
