@{
    ViewBag.Title = "ADS | CF-19 Panasonic";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Panasonic Toughbook CF-19 &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/cf19-panasonic.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>Tableta PC convertible, completamente resistente. Pantalla LCD táctil de 10,1" visible bajo la luz solar o pantalla dual. 1,000 nit (hasta 6,000 nit bajo la luz solar directa) y con certificación IP65. Con la opción para usar banda ancha móvil Ericsson F5521gw WWAN.</p>
        <p>
            Tableta convertible a laptop completamente resistente.<br />
            La Toughbook® 19* combina flexibilidad y comprobada durabilidad; se transforma fácilmente de laptop a una tablet para escribir a mano. La Toughbook 19 cuenta con el sistema operativo Windows 7, una pantalla de 10,4", de 1000 nit, visible bajo la luz solar directa, Centrino® 2 con tecnología vPro™, e Internet móvil EricssonF5521gw WWAN integrado opcional. Disponible con pantalla táctil estándar o LCD táctil dual (pantalla táctil y digitalizador). Además, el estuche completo de aleación de magnesio, el diseño sellado IP65 a prueba de todo clima y el cumplimiento con las pruebas MIL-STD ayudan a garantizar que la Toughbook 19 resistirá los ambientes más rigurosos.
        </p>
        <p>* El modelo CF-19K está disponible con Centrino® 2 con tecnología vPro™</p>
        <p>
            Segunda generación de procesadores Intel® Core™ i5 vPro™.<br />
            Intel, el logotipo de Intel, Intel Core, Intel vPro, Core Inside y vPro Inside son marcas comerciales de Intel Corporation en los EE.UU. y / u otros países.
        </p>
        <p>DETALLES</p>
        <p>Durabilidad</p>
        <p>
            Certificación MIL-STD-810G (resiste caídas de hasta 1.83 m, impactos, vibraciones, lluvia, polvo, arena, altitudes, ciclos de congelamiento y descongelamiento, temperaturas altas y bajas, impactos de temperatura, humedad, atmósferas explosivas) 1<br />
            Certificación MIL-STD-461F1<br />
            Certificación IP65, diseño sellado para protección contra todas las condiciones metereológicas 1<br />
            Modelo con certificación UL1604, clase I, división 2, grupos ABCD<br />
            Certificación CCX v4<br />
            Calentador de unidad de disco duro<br />
            Estuche totalmente de aleación de magnesio con correa de mano<br />
            Unidad de disco duro con conexión flexible, protección contra impactos y liberación rápida<br />
            Película de pantalla reemplazable preinstalada para proteger la pantalla LCD
        </p>
        <p>Software</p>
        <p>
            Windows® 7 Professional Original de 32 bit2 o Windowss® 7 Professional Original de 64 bit 2<br />
            Programas etilitarios de Panasonic, partición de recuperación
        </p>
        <p>CPU3</p>
        <p>
            Procesador Intel® Coree™ i5-2520M vProe™<br />
            - 2.5GHz con Turbo Boost hasta 3.2GHz<br />
            - Memoria Cache Intel Smart de 3MB
        </p>
        <p>Almacenamiento y Memoria</p>
        <p>
            4GB SDRAM (DDR3-1333MHz) estándar, expandible hasta 8GB 4,5<br />
            Unidad de disco duro 320GB 7200rpm (de liberación rápida, con conexión flexible y protección contra impactos)5<br />
            - Unidades de disco de estado sólido (SSD) de 128GB y 256GB opcionales con conexiones flexibles y reforzados5
        </p>
        <p>Pantalla</p>
        <p>
            LED visible a la luz del sol XGA 1024 x 768 de 10.1 pulgadas (pantalla táctil o táctil doble opcional)<br />
            - Tecnología TransflectivePlus y CircuLumin™ de Panasonic<br />
            - 1 a 6000 nits (dependiendo de las condiciones de iluminación y los ajustes) 6<br />
            - AR, AG y polarizador circular<br />
            Controlador de video Intel® QM67, VRAM máx. 1557MB con 32 bits4<br />
            Soporte para video externo con una resolución de hasta de 1280 x 1024 a 16.7 millones de colores<br />
            Modo oculto
        </p>
        <p>Audio</p>
        <p>
            Compatible con el audio de alta definición de Intel®<br />
            Bocina integrada<br />
            Controles de volumen y silenciador en el teclado
        </p>
        <p>Teclado y Entrada de Datos</p>
        <p>
            Pantalla táctil o táctil doble (modelos de pantalla táctil y digitalizador)<br />
            Portaestilete incorporado<br />
            82 teclas con tecla dedicada Windows®<br />
            Almohadilla sensible a la presión con soporte de desplazamiento vertical
        </p>
        <p>Ranuras de Expansión</p>
        <p>
            Tarjeta de laptop tipo II x 1<br />
            Tarjeta SD (SDXC)<br />
            Tarjeta ExpressCard/54 x 1
        </p>
        <p>Interfaces</p>
        <p>
            Conector de acoplamiento (Dedicado de 100 clavijas)<br />
            VGA (D-sub 15 clavijas)<br />
            Audífonos/bocina (Miniclavija estereofónica)<br />
            Micrófono/entrada de línea (Miniclavija estereofónica)<br />
            Serial (D-sub 9 clavijas)<br />
            Conexión de antena externa (x 2) (Coaxial de 50 ohmios)<br />
            USB 2.0 (x 2) (4 clavijas)<br />
            Conexión IEEE 1394a (FireWire) (4 clavijas)<br />
            Conexión opcional IEEE 1394a (FireWire) (4 clavijas)<br />
            Ethernet 10/100/1000 (RJ-45)<br />
            Módem 56K opcional (RJ-11)
        </p>
        <p>Sistema Inalámbrico</p>
        <p>
            Opción de banda ancha móvil Ericsson F5521gw WWAN (póngase en contacto con Panasonic para los países aprobados/compañías)<br />
            Intel® Centrino® Advanced-N 6205 802.11a/b/g/n<br />
            Bluetooth® v2.1 + EDR (Clase 1)<br />
            Seguridad<br />
            - Autentificación: LEAP, WPA, 802.1x, EAP-TLS, EAP-FAST, PEAP<br />
            - Codificación: CKIP, TKIP, WEP de 128 bits y 64 bits, AES por Hardware<br />
            Doble paso de antena de alta ganancia<br />
            Interruptor deslizable de encendido/apagado
        </p>
        <p>Suministro de Energía</p>
        <p>
            Paquete de baterías de litio-ion (11.1V, típico 5600mAh, mínimo 5300mAh)<br />
            Duración de la batería: 9 horas (pantalla táctil), 8.5 horas (táctil doble) 7<br />
            Tiempo de carga de la batería: 3.5 horas 7<br />
            Adaptador de CA: CA 100V-240V 50/60 Hz, autodetección y cambio automático del suministro de energía según región
        </p>
        <p>Conservación de la EnergÍa</p>
        <p>    Función Suspender/Reanudar, Hibernación, En espera, ACPI BIOS</p>
        <p>Características de Seguridad</p>
        <p>
            Seguridad protegida por contraseñas: Supervisor, Usuario, Bloqueo del Disco Duro<br />
            Ranura de bloqueo para cable de seguridad Kensington<br />
            Chip de seguridad de módulo de plataforma confiable (TPM) versión 1.2<br />
            Agente de protección contra robo Computrace® en el BIOS8<br />
            Tecnología Intel® antirrobo<br />
            Lector de huellas digitales opcional<br />
            Lector de tarjetas SmartCard opcional
        </p>
        <p>Opciones Integradas 9</p>
        <p>
            Banda ancha móvil Ericsson F5521gw WWAN (póngase en contacto con Panasonic para los países aprobados/compañías)<br />
            Cámara de 2.0MP con enfoque automático y luz LED doble10<br />
            Receptor GPS<br />
            Teclado retroiluminado - emisivo de goma o plástico sellado<br />
            Lector de tarjetas SmartCard<br />
            Lector de huellas digitales<br />
            Bloqueo de la unidad de disco duro y de la batería
        </p>
        <p>Garantía</p>
        <p>    Garantía limitada de 3 años para partes y mano de obra</p>
        <p>Dimensiones y Peso</p>
        <p>
            21.6 cm (L) x 27.2 cm (A) x 4.8 cm (Al)<br />
            2.31 kg
        </p>
        <p>Para saber cuál modelo Toughbook le conviene más mire el cuadro comparativo de productos</p>
        <p>
            Consulte con su distribuidor o representante de Panasonic antes de hacer una compra.<br />
            1 Según pruebas de un laboratorio externo de ámbito nacional según la norma MIL-STD-810G, Método 516.6, Procedimiento IV para pruebas de caída en tránsito y según la normativa IEC 60529, Secciones 13.4, 13.6.2, 14.2.5 y 14.3 para IP65.<br />
            2 Un conjunto completo de controladores Windows XP se encuentra disponible a través de panasonic.com/toughbook/support.<br />
            3 También se encuentra disponible un procesador Intel Core i7.<br />
            4 La memoria útil total será menor dependiendo de la configuración actual del sistema. Memoria máxima de 4GB cuando se equipa con cámara. El VRAM máx. para Windows 7 de 64 bits VRAM es de 1696MB con 4GB de memoria.<br />
            5 1GB = 1,000,000,000 bytes.<br />
            6 1000 nits sin ayuda de luz ambiente. Hasta 6000 nits en condiciones soleadas bajo la luz directa del sol.<br />
            7 Las características de rendimiento de la batería, tales como el tiempo de carga y el tiempo de vida útil de la batería pueden variar de acuerdo con las condiciones de uso de la laptop y la batería. Los tiempos de funcionamiento y carga variarán en base a muchos factores, incluyendo el brillo de la pantalla, las aplicaciones, funciones o características, la conservación de la energía, el acondicionamiento de la batería y otras preferencias del cliente. MobileMark 2007 proporciona los resultados de prueba de la batería.<br />
            8 Requiere software y activación para habilitar la protección contra robo.<br />
            9 Los Accesorios y las Opciones Integradas podrían variar dependiendo de la configuración de su PC portátil.<br />
            10 La cámara sustituye la segunda ranura de memoria ubicada en la parte inferior de la laptop.
        </p>
    </div>
</div>
