@{
    ViewBag.Title = "ADS | Fctura CBB";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Contpaq i - Factura CBB &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/factura-contpaq.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>CONTPAQ i® FACTURA CBB ES EL SISTEMA QUE FACILITA LA GENERACIÓN Y CONTABILIZACIÓN DE COMPROBANTES FISCALES IMPRESOS CON CBB (CÓDIGO DE BARRAS BIDIMENSIONAL), PARA QUE PUEDAS ASEGURAR LA COBRANZA Y CAPTACIÓN DE TUS INGRESOS.</p>
        <p>Diseñado para profesionistas independientes, personas físicas y pequeñas empresas que requieren control de clientes y cuentas por cobrar con comprobantes impresos con CBB.</p>

    </div>
</div>
