@{
    ViewBag.Title = "ADS | Banco Aspel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">Aspel-BANCO &reg;</h3>
    </div>
</div>
<div id="body" class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <div id="imagen" class="thumbnail">
            <img src="imagenes/banco-aspel.jpg" alt="banco-aspel" class="img-responsive pull-down">
        </div>
        <p>Aspel-BANCO es el Sistema de Control Bancario que controla eficientemente los ingresos y egresos de cualquier tipo de cuenta bancaria, ofreciendo información financiera precisa en todo momento. Permite manejar movimientos y saldos en moneda nacional y extranjera, la programación de movimientos periódicos, el control de inversiones en plazo fijo y en acciones, así como la conciliación electrónica con las principales instituciones financieras.</p>
        <p>Para una mayor eficiencia administrativa e integridad de la información, Aspel-BANCO mantiene interfaz en línea con otros productos Aspel: con Aspel-COI permite la contabilización automática de todos los movimientos bancarios, con Aspel-SAE ofrece la afectación simultánea de las cuentas por cobrar y/o por pagar al registrar los movimientos bancarios y la interfaz con Aspel-NOI posibilita la generación automática de los cheques para el pago de nómina.</p>
        <p>
            Beneficios<br />
            Al integrar Aspel-BANCO a tu organización, tienes inmediatamente el control de tus cuentas y flujo de efectivo, ya que ofrece información financiera precisa del estado de tus cuentas en cualquier momento. Además te ayudará a optimizar tus procesos de tesorería tales como el pago a proveedores o empleados.
        </p>
        <p>
            Con Aspel-BANCO puedes:<br />
            Manejar cuentas en moneda nacional y extranjera.<br />
            Programar movimientos periódicos.<br />
            Realizar inversiones en plazo fijo y en acciones.<br />
            Hacer conciliación electrónica con las principales instituciones financieras.<br />
            Consultar en cualquier momento todas tus operaciones financieras.
        </p>
    </div>
</div>
