@{
    ViewBag.Title = "ADS | Acerda de";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


   <section id="main" class="col-md-11 col-md-offset-1">
        <h1 class="row visible-lg visible-md">ADS (Asistencia y Desarrollo de Sistemas, S.A. de C.V.)</h1>
        <p>
            <h3>Historia</h3>

            Asistencia y Desarrollo de Sistemas, (ADS) inicia operaciones en Monterrey, Nuevo León el año de 1994, trabajando comercialmente con el nombre ADS constituyéndose como Sociedad Anónima el 15 de febrero del año 2000.
            Desde entonces prestamos nuestros servicios bajo la razón social de Asistencia y Desarrollo de Sistemas, S.A. de C.V.

            ADSoft S.C., es una empresa especializada en el desarrollo de software de alto nivel, asesoría en sistemas y capacitación, y nuestra filial Asistencia y Desarrollo de Sistemas, S.A. de C.V. se encarga de la venta de hardware y software.
        </p>
        <p>
            <h3>Objetivo</h3>

            Asistencia y Desarrollo de Sistemas S.A. de C.V. y ADSoft S.C. nacen para satisfacer las necesidades de nuestros clientes en el área de informática, ofreciéndoles soluciones integrales, de calidad, actuales y económicamente razonables.

            Asistencia y Desarrollo de Sistemas S.A. de C.V. busca proporcionarle los productos de mejor calidad en el mercado para resolver sus necesidades de equipos de cómputo, redes, periféricos y consumibles para más eficiente manipulación de información en su empresa.

            ADSoft S.C. posee una variedad de software administrativo (propio) con la capacidad de adaptarse perfectamente a su empresa y en caso de que sus requerimientos sean muy especiales le desarrollamos software hecho a la medida de sus necesidades.

            En resumen, nos interesa contribuir positivamente con nuestros servicios en la cadena productiva de su empresa.
        </p>
        <p>
            <h3>Valores</h3>
            Liderazgo, ya que nuestros esfuerzos van enfocados a mejorar el servicio al cliente en el área de informática para que alcancen mayor productividad y eficiencia en su negocio.

            Colaboración, ya que trabajamos con usted y para usted, para buscar la mejor solución para su negocio.

            Integridad, ya que trabajamos de manera honesta y responsable para brindarle nuestro mejor servicio.

            Innovación, ya que estamos en capacitación constante manejando diferentes tecnologías en el área y en la búsqueda de tales.
        </p>
    </section>
