@{
    ViewBag.Title = "Administrador";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    ViewBag.user = ViewBag.userSession;
}

    <div class="container">
        <p>Pagina principal para el administrador</p>
    </div>


