@{
    ViewBag.Title = "ADS | Siscom 4.0";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="page-header" class="container page-header">
    <div class="row">
        <h3 class="col-lg-10">SisCom 4.0</h3>
    </div>
</div>
<div class="col-lg-10 col-lg-offset-1">
    <p>La Solución Exacta para su Negocio</p>
    <p>Características Generales</p>
    <p>Siscom 4.0</p>
    <p>
        - Sistema Multiusuario (sin límite de usuarios) y Multiempresa (hasta 9 empresas).<br />
        - Ambiente Windows.<br />
        - Ayuda (Manual) en línea.<br />
        - Manejo de Bodegas, para cada empresa.<br />
        - Ayuda de búsquedas en todos los campos claves del sistema (búsqueda de catálogos, F3).<br />
        - Control de Usuarios para limitar/permitir acceder a las opciones del sistema.<br />
        - Módulos para ajuste de información, para clientes, artículos y proveedores.<br />
        - Formateo de documentos (Venta, Compra, Etiquetas de clientes, etc.) para adecuarse a cualquier formato.<br />
        - Reportes en Pantalla, Impresora o archivo Excel.<br />
        - Módulo de Respaldos generando archivos ZIP.<br />
        - Manejo de hasta 5 impresoras para Documentos.<br />
        - Cierre masivo de Documentos.<br />
        - Cambios masivos de códigos para los diferentes catálogos del sistema.<br />
        - Cambio masivo de precios a los artículos.<br />
        - Exporta pólizas a Contpaq.<br />
        - Configuración de colores y tipos de letras.<br />
        - Reportes al Detalle de cada Transacción, Cliente, Artículo, etc. a Pantalla, Impresora y/o Excel.<br />
        - Fácil Búsqueda de Clientes, Artículos, Documentos, etc.<br />
        - No se preocupe por cobros de implementación.<br />
        - NOSOTROS le ofrecemos nuestra póliza de servicio al adquirir SisCom 2.3 para que no se preocupe por cargos "Extras".
    </p>
    <p>Funciones del Módulo de Artículos</p>
    <p>
        - Actualizaciones de Costos y Precios del Artículo configurable e independientes.<br />
        - Posibilidad de configurar Artículos que no afecten a inventarios en existencia.<br />
        - Clasificaciones varias por cada Artículo (Grupo, Unidad, Proveedor).<br />
        - Manejo de mensajes por Artículo configurables por frecuencia (Siempre, Nunca, Entradas, Salidas).<br />
        - Control de existencias (mínimo, máximo, reordenar).<br />
        - Cambio masivo de los 5 Precios disponibles por artículo así como su Descuento Máximo.<br />
        - Descripción del artículo de hasta 200 caracteres, imprimibles en facturas, remisiones y/o notas.<br />
        - Catálogos de Grupos, Unidades, Tipos de Movimiento, Bodegas e Impuestos.<br />
        * Reportes:<br />
        - Reporte de Artículos.<br />
        - Reporte Lista de Precios.<br />
        - Reporte de Movimientos.<br />
        - Reporte de Existencia en Valor.<br />
        - Reporte de Existencia en Unidades.<br />
        - Reporte de Kárdex.<br />
        - Reporte de Máximos y Mínimos.<br />
        - Reporte de Estadístico Cliente-Artículo.<br />
        - Reporte de Estadístico Artículo-Cliente.<br />
        - Reporte de Estadístico Proveedor-Artículo.<br />
        - Reporte de Estadístico Artículo-Proveedor.
    </p>
    <p>Funciones del Módulo de Clientes</p>
    <p>
        - Catálogo de Clientes, con capacidad para poner información personal, de datos de embarque y otros datos, días de pago y de revisión, etc.<br />
        - Posibilidad de manejar Anticipos de Clientes.<br />
        - Clasificaciones varias de Clientes (Grupo, Zona, y el Agente correspondiente).<br />
        - Capacidad de asignarle un Precio de Lista de los 5 disponibles por default.<br />
        - Capacidad para asignarle un Descuento Máximo al artículo, para seguridad al hacer ventas.<br />
        - Límites de Crédito y Días de Crédito para compras.<br />
        - Manejo de mensajes por Cliente configurables por frecuencia (Nunca, Siempre, Cargos, Abonos).<br />
        * Reportes:<br />
        - Reporte Catálogo de Clientes.<br />
        - Reporte de Movimientos.<br />
        - Reporte de Saldos.<br />
        - Reporte de Estados de Cuenta.<br />
        - Reporte de Proyección de Cobranza.<br />
        - Reporte Auxiliar de Cobranza.<br />
        - Reporte de Análisis de Últimos Movimientos.<br />
        - Reporte de Análisis de Últimas Compras.
    </p>
    <p>Funciones del Módulo de Proveedores</p>
    <p>
        - Catálogo de Proveedores, con capacidad para poner información general y del contacto.<br />
        - Manejo de mensajes por Proveedor configurables por frecuencia (Nunca, Siempre, Cargos, Abonos).<br />
        * Reportes:<br />
        - Reporte Catálogo de Proveedores.<br />
        - Reporte de Movimientos.<br />
        - Reporte de Saldos.<br />
        - Reporte de Estados de Cuenta.<br />
        - Reporte de Proyección de Pagos.
    </p>
    <p>Funciones de Nuestros Documentos</p>
    <p>
        - Manejo de 5 tipos de Documentos (Ventas, Compras, Cambios de Lugar y Forma)<br />
        - Manejo de 3 folios para Facturas, Remisiones, Notas de Venta y Devoluciones.<br />
        - Capacidad para facturar de remisiones o notas de venta, y de hacer remisiones de notas de venta.<br />
        - Manejo de Permisos para no pasar precios mínimos o descuentos máximos sin autorización.<br />
        * Ventas:<br />
        - Facturas Normales y Libres.<br />
        - Remisiones Normales y Libres.<br />
        - Notas de Venta.<br />
        - Devolución de Venta.<br />
        - Cotizaciones<br />
        * Compras:<br />
        - Notas de Compra.<br />
        * Cambio de Lugar:<br />
        - Traspaso de inventario entre Bodegas.<br />
        * Documentos para Choferes y/o Repartidores:<br />
        - Reporte de Embarques.
    </p>
</div>
